<div class="container mt-5">
  <div class="row ">
    <div class="col d-flex justify-content-end mb-5">
      <%= link_to "Nouveau dossier", new_dossier_path, class:'text-dark text-decoration-none' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
       <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>MISSION</th>
                <th> CLIENT</th>
                <th>LOCALISATION</th>
              </tr>
            </thead>
            <tbody>
             <% @dossiers.each do |d| %>
             <tr>
              <% if d.clotureDossier? %>
                <td><span class="badge bg-success me-2"> Terminé </span><%= link_to d.objetMission, dossier_path(d), class:"text-decoration-none text-dark" %></td>
              <% else %>
                <td><span class="badge bg-danger me-2"> En cours </span><%= link_to d.objetMission, dossier_path(d), class:"text-decoration-none text-dark" %></td>
              <% end %>
              <td> <%= link_to d.nomClient, dossier_path(d), class:"text-decoration-none text-dark" %></td>
              <td>
                <%= link_to d.localisation, dossier_path(d), class:"text-decoration-none text-dark"%>
                <%= link_to "Modifier", edit_dossier_path(d) %>
                <%= link_to "supprimer", dossier_path(d), data: { turbo_method: :delete, turbo_confirm: "Supprimer?" } %>
              </td>
             </tr>
             <% end %>
            </tbody>
          </table>
        </div>
       </div>
    </div>
  </div>
