<%= render "shared/navbar" %>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="titre-dossier">
        <p class="objet"> <strong><%= @dossier.objetMission %></strong>
          <% if @dossier.clotureDossier? %>
                  <span class="badge bg-success ms-2 fs-6"> Terminé </span>
            <% else %>
                  <span class="badge bg-danger ms-2 fs-6"> En cours </span>
          <% end%>
        </p>
        <p class="client"> pour <strong><%= @dossier.nomClient %></strong></p>
        <p class= "lieu"> <em><%= @dossier.localisation %></em> </p>
      </div>


      <p> Proposition d'honoraire : <%= @dossier.propositionHonoraire %></p>
      <p>Date d'acceptation : <%= @dossier.dateAcceptation.strftime("%d/%m/%Y")%></p>
      <% if @dossier.clotureDossier? %>
        <p>Etat d'avancement du projet :<span class="badge bg-success me-2">Terminé</p>
      <% else %>
        <p>Etat d'avancement du projet :<span class="badge bg-danger me-2">En cours</span>
          détails : <%= @dossier.etatAvancement %>
      </p>
      <% end %>
      <p>Etapes de la facturation : <%= @dossier.etapeFacturation %></p>
      <p>Date du réglement : <%= @dossier.dateReglement.strftime("%d/%m/%Y") %></p>
      <p>mode de réglement : <%= @dossier.modeReglement %></p>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <p><%= link_to "Modifier le dossier", edit_dossier_path, class:"me-3" %></p>
      <p> <%= form_with url: dossier_path, method: :delete,
                      data: {
                        controller: "alert",
                        alert_icon_value: "warning",
                        alert_title_value: "Êtes-vous sûr ?",
                        alert_html_value: "Cette action est irréversible.",
                        alert_confirm_button_text_value: "Oui, supprimer",
                        alert_cancel_button_text_value: "Annuler",
                        alert_show_cancel_button_value: true,
                        turbo: false,
                        action: "submit->alert#initSweetalert"
                      }, class: "d-inline" do %>
                  <%= submit_tag "Supprimer", class: "btn btn-sm" %>
          <% end %>
      </p>
    </div>
  </div>
</div>
