<div class="container mt-5">
  <div class="row">
    <div class="col">
      <p><%= @dossier.objetMission %></p>
      <p><%= @dossier.nomClient %></p>
      <p><%= @dossier.localisation %></p>
      <p><%= @dossier.propositionHonoraire %></p>
      <p><%= @dossier.dateAcceptation%></p>
      <p><%= @dossier.etatAvancement %></p>


    </div>
  </div>
</div>
