<%= render "shared/navbar2" %>
<div class="edit-container">
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="new-dossier">
          <h2 class="text-center mb-4">Calcul poutre <%= params[:type].capitalize %></h2>

          <%= form_with url: calculs_resultats_path, method: :get, local: true do %>
            <%= hidden_field_tag :type, params[:type] %>

            <div class="mb-3">
              <%= label_tag :b, "Largeur b (cm)", class: "form-label" %>
              <%= number_field_tag :b, nil, step: 0.1, required: true, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= label_tag :h, "Hauteur h (cm)", class: "form-label" %>
              <%= number_field_tag :h, nil, step: 0.1, required: true, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= label_tag :l, "Portée l (m)", class: "form-label" %>
              <%= number_field_tag :l, nil, step: 0.1, required: true, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= label_tag :c, "Charge c (daN/m)", class: "form-label" %>
              <%= number_field_tag :c, nil, step: 0.1, required: true, class: "form-control" %>
            </div>

            <div class="text-center d-flex justify-content-center">
              <%= submit_tag "Calculer", class: " btn btn-navbar me-3" %>
              <%= link_to "Annuler", calculs_path, class:" btn btn-navbar"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
