<h2>Calcul pour une poutre <%= params[:type].capitalize %></h2>

<%= form_with url: calculs_resultats_path, method: :get, local: true do %>
  <%= hidden_field_tag :type, params[:type] %>

  <div>
    <%= label_tag :b, "Largeur b (m)" %>
    <%= number_field_tag :b, nil, step: 0.1, required: true %>
  </div>

  <div>
    <%= label_tag :h, "Hauteur h (m)" %>
    <%= number_field_tag :h, nil, step: 0.1, required: true %>
  </div>

  <div>
    <%= label_tag :l, "Portée l (m)" %>
    <%= number_field_tag :l, nil, step: 0.1, required: true %>
  </div>

  <div>
    <%= label_tag :c, "Charge c (daN/m)" %>
    <%= number_field_tag :c, nil, step: 0.1, required: true %>
  </div>

  <%= submit_tag "Calculer" %>
<% end %>
