<%= render "shared/navbar2" %>
<div class="edit-container">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class=" col-sm-8 col-md-5">
        <div class="new-dossier">

          <h2 class="text-center mb-4">Résultat du calcul - Poutre <%= @type.capitalize %></h2>

            <% if @result.is_a?(String) %>
              <p><strong class="my-3 text-center"><%= @result %></strong></p>
            <% else %>
              <p><strong class="mb-3">Moment fléchissant M :</strong> <%= @m.round(2) %> daN.m</p>
              <p><strong class="mb-3">Moment d'inertie IV :</strong> <%= @iv.round(2) %> cm³</p>
              <p><strong class="my-3">Résultat final (M / IV) :</strong> <%= @result.round(3) %></p>
            <% end %>


            <%= link_to "Revenir au choix", calculs_path, class:"btn btn-navbar mt-3" %>
        </div>

      </div>
    </div>
  </div>
</div>
